@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Karma:wght@300;400;500&family=Lobster&family=Montserrat:ital,wght@0,200;0,300;0,400;1,800&family=Shizuru&family=Yuji+Hentaigana+Akebono&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: gold;
}

.App{
  background-color: #14161a;
  color: #fff;
  min-height: 100vh;
}